body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
  }
  
  .main-navigation {
    flex:1;
  }
  
  .products, .cart {
    flex:5;
  }
  
  .footer {
    flex:1 
  }